.s {
  width: 30px;
  height: 30px;
}
.m {
  width: 60px;
  height: 60px;
}
.l {
  width: 120px;
  height: 120px;
}
.xl {
  width: 200px;
  height: 200px;
}

.square {
  border: 1px solid black;
}
.rounded {
  border-radius: 8px;
}
.circle {
  border-radius: 50%;
}
